BITBUCKET_CLOUD_URL=https://api.bitbucket.org/2.0
BITBUCKET_CLOUD_USERNAME=your-atlassian-email@example.com
BITBUCKET_CLOUD_API_TOKEN=replace-with-an-atlassian-api-token

BITBUCKET_SERVER_URL=https://bitbucket.example.com/rest
BITBUCKET_SERVER_TOKEN=replace-with-a-server-token
BITBUCKET_SERVER_TEST_PROJECT_KEY=PROJECT_KEY
BITBUCKET_SERVER_TEST_PROJECT_NAME=Project Name

SKIP_BITBUCKET_CLOUD=false
SKIP_BITBUCKET_SERVER=true
